	/********** Base styles **********/
	* {
	box-sizing: border-box;
	}
h1 {
	margin-top: 100px;
	margin-bottom: 30px;	
	font-size: 175%;
	text-align: center;
		font-family: Brush Script MT;
}

p {
	border: 1px solid black;
	background-color: #999999;

	height: 150px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: Arial;
	color: black;
	padding-top: 40px;
}

div#container{
	position: relative;
}
block {
	width: 70px;
	height: 30px;
	text-align: center;
	font-size: 125%;
	border: 1px solid black;
	font-family: Brush Script MT;
}
#block1 {
	position: absolute;
	right: 20px;
	top: -170px;
	background-color: #d59898;
}
#block2 {
		position: absolute;
	right: 20px;
	top: -170px;
	background-color: #c14543;
}
#block3 {
		position: absolute;
	right: 20px;
	top: -170px;
background-color: #e5d198;
}
.row {
	width: 100%;
}
